# ðŸ“… Day 5: Python Libraries â€“ NumPy & Pandas

Today we'll explore two of the most important libraries in the data analyst toolkit:
- `NumPy`: For numerical operations and arrays
- `Pandas`: For handling structured data like tables

## ðŸ”¹ NumPy Basics

In [1]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])
print("Array:", arr)

# Perform operations
print("Mean:", np.mean(arr))
print("Standard Deviation:", np.std(arr))
print("Sum:", np.sum(arr))

Array: [1 2 3 4 5]
Mean: 3.0
Standard Deviation: 1.4142135623730951
Sum: 15

## ðŸ”¹ Pandas Basics

In [2]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Pune', 'Mumbai', 'Delhi']
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age    City
0    Alice   25    Pune
1      Bob   30  Mumbai
2  Charlie   35   Delhi

## ðŸ”¹ Basic Operations on DataFrames

In [3]:
# Access columns
print(df['Name'])

# Add a new column
df['Experience'] = [2, 5, 3]
print(df)

# Filter rows where Age > 28
filtered_df = df[df['Age'] > 28]
print("Filtered:\n", filtered_df)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age    City  Experience
0    Alice   25    Pune           2
1      Bob   30  Mumbai           5
2  Charlie   35   Delhi           3
Filtered:
       Name  Age    City  Experience
1      Bob   30  Mumbai           5
2  Charlie   35   Delhi           3

## ðŸ§ª Practice Exercise
Try these yourself:

In [4]:
# 1. Create a NumPy array from 1 to 10 and get its median
arr = np.arange(1, 11)
print("Array:", arr)
print("Median:", np.median(arr))

# 2. Create a Pandas DataFrame with Product, Price, and Quantity
sales = pd.DataFrame({
    'Product': ['Book', 'Pen', 'Notebook'],
    'Price': [150, 20, 60],
    'Quantity': [2, 10, 5]
})

# 3. Add a Total column = Price * Quantity
sales['Total'] = sales['Price'] * sales['Quantity']
print(sales)

# 4. Filter products where total > 200
high_sales = sales[sales['Total'] > 200]
print("High Value Sales:\n", high_sales)

Array: [ 1  2  3  4  5  6  7  8  9 10]
Median: 5.5
    Product  Price  Quantity  Total
0      Book    150         2    300
1       Pen     20        10    200
2  Notebook     60         5    300
High Value Sales:
     Product  Price  Quantity  Total
0      Book    150         2    300
2  Notebook     60         5    300

## âœ… Summary

- Use `NumPy` for fast array operations
- Use `Pandas` for structured tabular data
- Easily read, write, filter, and manipulate datasets

These libraries form the **foundation** of every data analysis project!