# ðŸ“… Day 2: Lists, Tuples, Dictionaries & Sets

Today we explore Pythonâ€™s built-in collection data types â€” essential for any data analysis work.

## ðŸ”¸ Lists
Ordered and mutable sequences.

In [1]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('mango')
print(fruits)
print(fruits[0])  # Access first item

['apple', 'banana', 'cherry', 'mango']
apple

## ðŸ”¸ Tuples
Ordered and immutable sequences.

In [2]:
dimensions = (1920, 1080)
print(dimensions[1])  # Access second item

1080

## ðŸ”¸ Dictionaries
Key-value pairs, like a mini-database.

In [3]:
person = {'name': 'Chinmay', 'age': 25}
print(person['name'])
person['city'] = 'Pune'
print(person)

Chinmay
{'name': 'Chinmay', 'age': 25, 'city': 'Pune'}

## ðŸ”¸ Sets
Unordered collection with no duplicate items.

In [4]:
skills = {'Python', 'SQL', 'Excel', 'SQL'}
skills.add('Power BI')
print(skills)  # Notice duplicates are removed

{'SQL', 'Excel', 'Power BI', 'Python'}

## ðŸ§ª Practice Exercise
Try this on your own:

In [5]:
# 1. Create a list of 3 favorite movies and add 1 more
movies = ['Inception', 'Interstellar', 'The Matrix']
movies.append('The Dark Knight')
print(movies)

# 2. Create a tuple of 3 programming languages
languages = ('Python', 'Java', 'SQL')
print(languages)

# 3. Create and update a dictionary
profile = {'name': 'Chinmay', 'age': 25, 'city': 'Pune'}
profile['language'] = 'Python'
print(profile)

# 4. Create a set of 5 unique skills
my_skills = {'Python', 'SQL', 'Excel', 'Power BI', 'Communication'}
print(my_skills)

['Inception', 'Interstellar', 'The Matrix', 'The Dark Knight']
('Python', 'Java', 'SQL')
{'name': 'Chinmay', 'age': 25, 'city': 'Pune', 'language': 'Python'}
{'Excel', 'SQL', 'Power BI', 'Python', 'Communication'}

## âœ… Summary
- Use `list` for ordered, changeable collections  
- Use `tuple` for ordered, unchangeable sequences  
- Use `dict` for key-value storage  
- Use `set` for unordered, unique items  

Practice these well â€” you'll use them all the time as a data analyst!